/******************
CONTENT
----------
HOME PAGE (PREVIEW CONTENT)
&
WORK PAGES
&
ABOUT PAGE
******************/

/******************
HOMEPAGE (PREVIEW CONTENT
******************/

#mainColumn 
{
  margin: 0 auto;
  padding: 5em 2.5% 0 2.5%;
  width: auto;

  .container
  { 
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  text-align: center;

    .previewItem 
    {
    width: 100%;
    float:left;
    //position:relative;
    margin: 0 auto;
    padding: 3em;
    box-sizing: border-box;
    vertical-align: baseline;
    text-align: center;

      a
      {
      background-size: auto;
      background-position: auto;
      background-repeat: no-repeat;
      } // end

      span.preview-mobile-text
      {
      vertical-align: baseline;
      bottom: 0px;
      font-size: 1.3em;
      display: table;
      margin: 0 auto;
      text-align: center;
      line-height: 1.3em;
      box-sizing: border-box;
      text-decoration: underline;

        span.ital
        {
        font-style:italic;

        }
      
      } // end preview.mobile.text
      span.top-padding
      {
      padding-top: 10px;
      }

      .hover-template
      {
      cursor: pointer;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;

      } // end .hover-template

      .qualitytime
      {
      @extend .hover-template;
      
      } // end .qualitytime

      .wellthen
      {
      @extend .hover-template;

      } // end .wellthen

      .touchscreen
      {
      @extend .hover-template;

      } // end .touchscreen

      .diamonds
      {
      @extend .hover-template;

      } // end .diamonds

      .inter
      {
      @extend .hover-template;

      }

      .simplethings
      {
      @extend .hover-template;

      } // end .simplethings

      .jusquabout
      {
      @extend .hover-template;

      } // end .jusquabout

      .sqpat
      {
      @extend .hover-template;

      } // end .sqpat

      .trop
      {
      @extend .hover-template;

      } // end trop

    } // end .previewItem

    #pre_sml
    {
    padding: 3em .5em 3em .5em;
    } // end #inter_pre

    .first 
    {
    padding-top: 4em;
    } // end .first
    
  .smallBorder 
    {
    border-color: #8d8d8d;
    border-style: solid;
    border-width: 1px;
    } // end .smallborder

    a 
    {
    cursor: pointer; 
    background-size: 160px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    } // end a

  } // end .container

} // end #mainColumn 

/******************
WORK PAGES
******************/

#workPages
{
  margin: 0 auto;
  padding: 5em 2.5% 0 2.5%;
  width: auto;

  .container 
  {
  margin: 0 auto;
  box-sizing: border-box;

    .workItems 
    {
      margin: 0 auto;
      width: 100%;
      box-sizing: border-box;
      padding: 0 5%;

      span 
      {
      font-size: 1.1em;
      line-height: 1.25em;
      text-align: center;
      margin: 0 auto;
      //width: 100%;
      padding: 1.5em 2.5% 0 2.5%;
      display:table;
      box-sizing: border-box;

        span.ital
        {
        font-style: italic;
        display: inline;
        font-size: 1em;
        line-height: 1em;
        }
      } // end span

      .workImage 
      {
      margin: 0 auto;
      padding: 2em;

        img 
        {
        width:100%;
        //padding: 2em;

        } // end .img

      } // end .workImage

      .touchscreen 
      {
      //width: 50% !important;
      //padding: 2em;

      } //end .touchscreen
      
      .inter 
      {
      padding: 2em 0 2em 0;

      } //end .inter

      #horiz 
      {
      padding: 2em 2em 2em 2em;

      } //end #horiz
      
      .search 
      {
      //padding: 2em 10em 2em 10em;
    
      } //end .search

      .bannerAds 
      {
      padding: 2em 0;

      } //end .search

      .posters 
      {
      padding: 2em 0;
      } // end .posters

      .marks 
      {
      padding: 2em 1em;

      } // end .marks

      .markstwo 
      {
      padding: 2em 2em;

      } // end .markstwo

    }// end .workItems
  
  } // end .container

} // end #workpages

// end workpages


/******************
ABOUT PAGE
******************/

#contactColumn 
{
    margin: 30px auto 0 auto;
    padding: 6em 2.5% 0 2.5%;
    width: auto;

  .contactItem 
  {
    width: 95%;
    display: block;
    float:left;
    position:relative;
    margin: 0;
    padding: 0 2.5%;
    clear:left;
    font-size: 1.1em;

    p 
    {
      margin: 0;
      padding:0;
      line-height: 1.4em;
      span 
      {
        a.no-underline
          {
          border-bottom: none;
          } // end a.

      } // end span

    } // end p

    span.blocky 
    {
      display: block;
      margin: 15px 0 0 0;
    } // end span.blocky 

    span.bold 
    {
    font-weight: 700;
    } // end span.bold

    ul.servicesList
    {
      line-height: 1.4em;
    } //end ul.servicesList
  } // .contactItem

  a 
  {
    text-decoration: none;
    border-bottom: 1px dotted;
  } // end a

  .primary 
  {
  display: block;
  float: left;
  } // end .primary

  .secondary 
  {
  clear: left;
  width: 100%;
  float: left;
  margin: 15px 0 0 0;
  clear:left;
  } // end .secondary
  
} // end #contactColumn 

// end about page

//end of first main styles

/******************
******************

RESPONSIVE

******************
******************/

/******************
min-width 840px
******************/
@media screen and (min-width: 840px) 
{

/******************
HOMEPAGE PREVIEW CONTENT
******************/

#mainColumn 
  {
    float: left;
    width: 96%;
    margin-left: 2%;
    padding: 6em 0 0 0;
    
    .container
    {
    box-sizing: border-box;
    max-width:940px;

      .previewItem 
      {
        width: 33.333333%;
        display: block;
        float:left;
        position:relative;
        margin: 0;
        padding: 2em;
        box-sizing: border-box;
        vertical-align: baseline;
        text-align: center;

        span.preview-mobile-text
        {
        display: none;
        } // end span.preview-mobile-text

        .qualitytime
        {
        
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("/images/quality-time-hover.svg");

          img
          {
          opacity: 1;
          transition: opacity .4s ease;

            &:hover
            {
            opacity: 0;


            } //end hover

          } // end img

        } // end .qualitytime

        .wellthen
        {
        cursor: pointer;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("/images/well-then-hover.svg");

          img
          {
          opacity: 1;
          transition: opacity .4s ease;

            &:hover
            {
            opacity: 0;
            } //end hover

          } // end img

        } // end .wellthen

        .touchscreen
        {
        cursor: pointer;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("/images/touchscreens-hover.svg");
          
          img
          {
          opacity: 1;
          transition: opacity .4s ease;

            &:hover
            {
            opacity: 0;
            } //end hover

          } // end img

        } // end .touchscreen

        .diamonds
        {
        cursor: pointer;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("/images/diamonds-hover.svg");

          img
          {
          opacity: 1;
          transition: opacity .4s ease;

            &:hover
            {
            opacity: 0;
            } //end hover

          } // end img

        } // end .diamonds

        .inter
        {
        cursor: pointer;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("/images/inter-hover.svg");

          img
          {
          opacity: 1;
          transition: opacity .4s ease;

            &:hover
            {
            opacity: 0;
            } //end hover

          } // end img

        } // end .inter

        .simplethings
        {
        cursor: pointer;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("/images/simple-things-hover.svg");
          
          img
          {
          opacity: 1;
          transition: opacity .4s ease;

            &:hover
            {
            opacity: 0;
            } //end hover

          } // end img

        } // end .simplethings

        .jusquabout
        {
        cursor: pointer;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("/images/jusquabout-hover.svg");

          img
          {
          opacity: 1;
          transition: opacity .4s ease;

            &:hover
            {
            opacity: 0;
            } //end hover

          } // end img

        } // end .jusquabout

        .sqpat
        {
        cursor: pointer;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("/images/sqpat-hover.svg");

          img
          {
          opacity: 1;
          transition: opacity .4s ease;

            &:hover
            {
            opacity: 0;
            } //end hover

          } // end img

        } // end .sqpat

        .trop
        {
        cursor: pointer;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("/images/trop-hover.svg");

          img
          {
          opacity: 1;
          transition: opacity .4s ease;

            &:hover
            {
            opacity: 0;
            } //end hover

          } // end img

        } // end trop

      } //end .previewItem

      #pre_sml
      {
      padding: 2em;
      } // end #inter_pre

    } //end .container

  } // end #mainColumn

/******************
WORK PAGES
******************/

  #workPages
  {
    margin: 0 auto;
    padding: 5em 2.5% 0 2.5%;
    width: auto;

    .container 
    {
    margin: 0 auto;
    box-sizing: border-box;
    max-width:940px;
    width:100%;

      .workItems 
      {
        margin: 0 auto;
        display: block;
        box-sizing: border-box;
        padding: 0;

        span 
        {
        font-size: 1.1em;
        margin: 0 auto;
        //width: 100%;
        padding: 1.5em 2.5% 0 2.5%;
        display:table;
        box-sizing: border-box;
        } // end span
        
        .workImage 
        {
        width: 100%;
        float:left;
        margin: 0 auto;
        box-sizing: border-box;

          img 
          {
          width:100%;
          //padding: 2em;

          } // end img

        } // end .workImage

        .inter 
        {
        padding: 2em 6em 2em 6em;

        } //end .inter

        #horiz 
        {
        padding: 2em 10em 2em 10em;

        } //end #horiz

        .touchscreen 
        {
        width: 50% !important;
        padding: 2em;

        } //end .touchscreen

        .search 
        {
        padding: 2em 10em 2em 10em;
      
        } //end .search

        .bannerAds 
        {
        padding: 2em 6em 2em 6em;

        } //end .search

        .posters 
        {

        padding: 2em 4em;
        } // end .posters

        .marks 
        {

        padding: 2em 8em;
        margin: 0 auto;
        } // end .marks

        .markstwo 
        {

        padding: 2em 9em 2em 9em;
        margin: 0 auto;
        } // end .markstwo

      }// end .workItems
    
    } // end .container

  } // end #workpages

/******************
ABOUT PAGE
******************/

#contactColumn 
  {
    margin: 30px auto;
    box-sizing: border-box;
    max-width:940px;
    padding: 6em 0 0 0;

    .contactItem 
    {
      display: block;
      box-sizing: border-box;
      float:left;
      position:relative;
      margin: 0;
      padding: 0;
      clear:none;
    } // end .contactItem 

    p 
    {
      margin: 0;
      padding:0;
      line-height: 1.4em;

      span 
      {
        
        a.no-underline
        {
        border-bottom: none;
        } // end a.

      } //end span
    } // end p
    
    ul.servicesList
    {
      line-height: 1.4em;
    } //end ul.servicesList

    span.blocky 
    {
      display: block;
      margin: 15px 0 0 0;
    } // end span.blocky

     span.noTop 
    {
      display: block;
      margin-top: 0;
      line-height: 1.4em;
    } // end span.noTop

    span.bold 
    {
      font-weight: 700;
    } // end span.bold

    a 
    {
      text-decoration: none;
      border-bottom: 1px dotted;
    } // end a

    .primary 
    {
      padding: 0 3% 0 3%;
      width:60%;

    } // end .primary

    .secondary 
    {
      padding: 0 3% 0 3%;
      width:40%;
    } // end .secondary

  } //end #contactColumn 

// end about pages 

} // end @media screen and (min-width: 840px) 

